{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Добро пожаловать в TechStore!</h1>
    <p class="lead">Лучшие товары по доступным ценам</p>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">💻 Ноутбуки</h5>
                    <p>Для работы и игр</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">📱 Смартфоны</h5>
                    <p>Новейшие модели</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">🎧 Наушники</h5>
                    <p>Высокое качество звука</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
